body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  border-top: 50px solid lightgray;
  border-left: 60px solid lightgray;
  border-right: 60px solid lightgray;
}

.header {
  margin: 0;
  background-color: royalblue;
  color: white;
  position: relative;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 20px;
}

/* Top Nav Bar*/
.nav1 {
 padding-top: 10px;
 padding-bottom: 10px;
 position: relative;
 font-size: 15px;
 text-align: left;
 height: 40px;
 font-weight: bold;
 text-transform: uppercase;
 width: 100%;
 border-bottom: 1px solid royalblue;
 margin: 0;
}
.nav1 ul {
  width: 100%;
  list-style-type: none;
}
.nav1 ul li {
  float: left;
}
.nav1 ul li a {
  text-decoration: none;
  padding: 10px;
  margin: 105px;
}
.nav1 ul li a:visited {
  color: royalblue;
}
.nav1 ul li a:hover {
  color: lightblue;
  text-decoration: none;
}

/* Main */
.info {
  position: relative;
}
.info ul {
  list-style-type: circle;
  text-align: center;
  border-left: 60px solid lightgray;
  border-right: 60px solid lightgray;
  border-bottom: 50px solid lightgray;
  margin-top: 0;
  padding-bottom: 20px;

}
.info ul li a:visited {
  color: royalblue;
}
.info ul li a:hover {
  color: lightblue;
  text-decoration: none;
}

/*Grid Images*/
.nav2 {
  width: 100%;
  height: 700px;
  border: 2px solid black;
  /* position: relative; */
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  background-color: red;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
.nav2 a {
  color: black;
}
.nav2 a:visited {
  color: black;
}
.nav2 a:hover {
  color: white;
  text-decoration: none;
}

img {
  width: 290px;
  height: 290px;
}

.box  {
}

.a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

 .b {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
 }

 .c {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;

 }

 .d {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
 }




.footer {
 display: inline-block;
 width: 100%;
 background-color: lightgray;
 text-align: center;
 height: 40px;
 padding-bottom: 15px;
 top: 0;
 left: 0;
 right: 0;
}
