body, html {
  padding: 0;
  margin: 0;
}

.primary-color {
  color: #556b2f;
}
* {
  border-radius: 0 !important;
}

nav {
  font-size: 12px;
  font-family: monospace;
}

/* head nav */
.navbar {
  position: relative;
  background-color: black;
  min-height: 38px !important;
  margin: 0;
  border: none;
}
.nav.navbar-nav li a {
  color: white;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.nav.navbar-nav li a:link {
  text-decoration: none;
  font-size: 12px;
}
.nav.navbar-nav li a:hover {
  text-decoration: none;
  color: white;
}
.social-button img {
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100%;
}
.social-button:last-of-type {
  margin-right: 10px;
}
.nav.navbar-nav.brand-name {
  margin-left: 10%;
  color: white;
  font-size: 25px;
}

/* head nav right */
.nav.navbar-nav.navbar-right li a {
  display: inline;
}
.btn-md {
  color: black;
  padding-top: 10px;
  margin-top: 1px;
}
.navbar-right li .btn-md {
  border: none;
  color: black;
}
.navbar-right li .btn-md:hover {
  color: black;
}
.glyphicon {
  font-size: 15px;
}

/* brand name */
.nav.navbar-nav.brand-name li a {
  font-size: 25px;
  margin-right: 5px;
}

/* nav 2 */
.background-image {
  height: 1000px;
  background-image: url("wolfpack-main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.nav2 {
  position: relative;
  top: 25px;
  width: 100%;
  height: 100px;
}
.nav.nav-tabs {
  border: none;
}
.nav.nav-tabs {
  margin-left: 10px;
}
.nav.nav-tabs li {
  padding-left: 60px;
}
.nav.nav-tabs li a:link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.nav.nav-tabs li a:visited {
  text-decoration: none;
  color: black;
}
.nav.nav-tabs li a:hover {
  color: black;
  background-color: inherit;
  text-decoration: none;
  border: none;
  transition: 0.5s;
  box-shadow: 0px 1px  #556b2f;
}
.nav.nav-tabs.navbar-right li {
  margin-right: 20px;
}
.brand-logo img {
  height: 90px;
  margin-left: 43%;
  margin-top: -50px;
}
.nav.nav-tabs.navbar-right {
  position: relative;
  margin-right: 80px;
  top: -80px;
}

/* main */
.image-text {
  position: relative;
  height: 700px;
  width: 100%;
  top: 10px;
}
.image-text h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  font-family: trebuchet;
  color: black;
  margin-left: 400px;
  margin-top: 150px;
}
.image-text h1 a:link {
  color: black;
  text-decoration: none;
}
.image-text h1 a:visited {
  color: black;
  text-decoration: none;
}
.image-text h1 a:hover {
  color: black;
  text-decoration: none;
}
.shop-now-button {
  display: block;
  font-size: 40px;
  font-weight: bold;
  font-family: trebuchet;
  color: black;
  margin-left: 520px;
  padding: 5px;
  border: 2px solid black;
  margin-right: 570px;
}
.shop-now-button:link {
  text-decoration: none;
}
.shop-now-button:visited {
  text-decoration: none;
}
.shop-now-button:hover {
  color: black;
  text-decoration: none;
}

/* body divide */
.body-divide {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: black;
}
.body-divide h3 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
.body-divide h3 small {
  color: white;
}
.bigger-text  {
  font-size: 30px;
}
/* popular t's - shop itmes */
.popular-shirt {
  position: relative;
  width: 100%;
  height: 680px;
}
.popular-shirt-header {
  border-bottom: 2px solid black;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
}
.popular-shirt-header h2 {
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
}
.thumbnail img {
  height: 230px;
  margin-top: 10px;
}
.btn-primary {
  background-color: #556b2f;
}
.btn-primary:hover {
  background-color: #556b2f;
}
.glyphicon-star-empty {
  font-size: 20px;
}


/* headwear */
.headwear {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -20px;
}
.headwear img {
  position: relative;
  float: right;
}
.side-image img {
  position: absolute;
  margin-top: 160px;
  margin-left: 40px;
  background-color: inherit;
}
.headwear-head {
  position: absolute;
  margin-left: 485px;
  margin-top: 20px;
  width: auto;
  text-align: center;
}
.headwear-head h2 {
  font-weight: 900;
  font-size: 60px;
  color: white;
  border-bottom: 4px solid white;
  margin-left: 60px;
  margin-right: 60px;
}
.headwear-description {
  position: absolute;
  width: 600px;
  height: 300px;
  margin-left: 530px;
  margin-top: 150px;
}
.headwear-description .thumbnail {
  height: 300px;
  background-color: rgba(0,0,0,0.6);
}
.headwear-description .caption {
  text-align: center;
  color: white;
}
.headwear-description .caption h3 {
  text-decoration: underline;
}
.headwear-description .caption p {
  line-height: 2.15em;
}
.headwear-description .caption .style {
  margin-top: 20px;
  width: 100px;
}
.headwear-description .caption .men {
  margin-top: 50px;
  width: 80px;
  background-color: #556b2f;
  color: white;
}
.headwear-description .caption .women {
  margin-top: 50px;
  width: 80px;
  background-color: #556b2f;
  color: white;
}

/* watches */
.watches {
  width: 100%;
  height: auto;
}
.watches .jumbotron {
  height: auto;
}
.watch-head {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.watch-head h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.watches .caption .watch {
  background-color: #556b2f;
  color: white;
}
.watches .row {
  margin-left: 60px;
}
.watches .thumbnail {
  width: 250px;
}
.watches .thumbnail img {
  margin-top: 0;
  background-color: rgba(0,0,0,0.6);
}
.watch-bottom {
  width: 100%;
  margin-top: 20px;
}
.watch-bottom-left {
  width: 40%;
  float: left;
  margin-left: 5%;
}
.watch-bottom-right {
  width: 40%;
  float: right;
  margin-right: 5%;
}

/* footer */
footer {
  background-color: rgba(85, 107, 47, 0.4);
}
.customer-care {
  text-align: center;
  padding-top: 20px;
  margin-right: 250px;
}
.customer-care h4 {
  font-weight: 300;
  font-family: monospace;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.customer-care h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  left: 35%;
  border-bottom: 1px solid black;
}
.customer-care p {
  font-weight: 200;
}
.customer-care p a:link, .customer-care p a:visited {
  color: black;
  text-decoration: none;
  letter-spacing: .25em;
}
.company {
  text-align: center;
  margin-left: 250px;
  margin-top: -165px;
}
.company h4 {
  font-weight: 300;
  font-family: monospace;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.company h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  left: 40%;
  border-bottom: 1px solid black;
}
.company p {
  font-weight: 200;
}
.company p a {
  color: black;
  text-decoration: none;
  letter-spacing: .25em;
}
.social {
 text-align: center;
 padding-top: 80px;
}
.social .social-button img {
  display: inline-block;
  height: 30px;
  margin: 5px 30px;
}
.legal {
  padding-top: 40px;
  padding-bottom: 40px;
}
.legal p {
  text-align: center;
  font-weight: 200;
  font-size: 10px;
  line-height: .5em;
}
.legal p .copyright {
  letter-spacing: .25em;
}
.legal p .terms {
  word-spacing: .25em;
  letter-spacing: .25em;
}
.legal p a:link {
  color: black;
  text-decoration: none;
}
.legal p a:visited {
  color: black;
  text-decoration: none;
}
.pay-option {
  text-align: center;
  padding-bottom: 60px;
}
.pay-option img {
  display: inline-block;
  height: 30px;
  margin: 5px 40px;
}
