body {
  padding-top: 70px;
}
a, body {
  color: #333;
}
a:link, a:hover, a:visited {
  color: #333;
  text-decoration: none;
}
.navbar-header .navbar-brand {
  color: black;
  font-family: monospace;
  font-size: 24px;
  padding-top: 20px;
}
.navbar-right  {
  color: black;
  font-weight: bold;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid black;
}

.body-header {
  background-color: whitesmoke;
  text-align: center;
}
.body-header h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -10px;
}
