.navbar {
  border-bottom: 1px solid black;
}
.navbar-header .navbar-brand {
 color: black;
 font-family: monospace;
 font-size: 16px;
}
.jumbotron {
  background-color: gray;
  text-align: center;
}
.jumbotron .container {
  width: 85%;
}
.jumbotron h1 {
  font-family: monospace;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
}
.jumbotron p {
  padding-bottom: 30px;
}
.row h1 {
  display: none;
}
.btn-lg, .btn-lg:hover {
  background-color: #808000;
  border-color: #333;
}

/* footer */
footer {
  background-color: rgba(85, 107, 47, 0.4);
  margin-top: -30px;
}
.customer-care {
  padding-top: 20px;
  float: left;
  width: 50%;
  padding-left: 10px;
  text-align: center;
  line-height: .75em;
}
.customer-care h4 {
  font-size: 14px;
}
.customer-care p a {
  color: black;
  font-weight: 200;
}
.company {
  text-align: center;
  padding-top: 20px;
  line-height: .75em;
}
.company h4 {
  font-size: 14px;
  padding-right: 10px;
}
.company p a {
  color: black;
  font-weight: 200;
  padding-right: 10px;
}
.social {
 text-align: center;
 padding-top: 35px;
}
.social .social-button img {
  display: inline-block;
  height: 30px;
  margin: 5px 15px;
}
.legal {
  padding-top: 35px;
}
.legal p {
  text-align: center;
  font-size: 12px;
  font-weight: 200;
}
.legal p .copyright {
  letter-spacing: .15em;
}
.legal p .terms {
  word-spacing: .06em;
  letter-spacing: .06em;
}
.legal p a:link, .legal p a:visited {
  color: black;
  text-decoration: none;
}
.pay-option {
  text-align: center;
}
.pay-option img {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
