body, html {
  padding: 0;
  margin: 0;
}

nav {
  font-size: 12px;
  font-family: monospace;
}


.navbar {
  position: relative;
  background-color: black;
}

.nav.navbar-nav li a {
  color: white;
}

.social-button img {
  height: 20px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 100%;
}

.social-button:last-of-type {
  margin-right: 10px;
}

.navbar-right {
  color: white;
}
.navbar-right li:last-of-type {
  background-color: red;
  height: 40px;
  margin-left: 20px;
}
.nav.navbar-nav.navbar-right li a {
  color: white;
}

.glyphicon-shopping-cart {
  margin-right: 10px;
  font-size: 15px;
}
.glyphicon-user {
  margin-right: 10px;
  font-size: 15px;
}
