body, html {
  padding: 0;
  margin: 0;
  height: 1000px;
  background-image: url("/Users/calebsharp/Documents/GitHub/teaching-caleb/Wolfpack Clothing/wolfpack-main.jpg");
  background-position: -900px;
  width: 100%;
}

.primary-color {
  color: #5f9ea0;
}
* {
  border-radius: 0 !important;
}

nav {
  font-size: 12px;
  font-family: monospace;
}


/* head nav */
.navbar {
  position: relative;
  background-color: black;
  min-height: 38px !important;
  margin: 0;
  border: none;
}
.nav.navbar-nav li a {
  color: white;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.nav.navbar-nav li a:link {
  text-decoration: none;
  font-size: 12px;
}
.nav.navbar-nav li a:hover {
  text-decoration: none;
  color: white;
}
.social-button img {
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100%;
}
.social-button:last-of-type {
  margin-right: 10px;
}

.nav.navbar-nav.brand-name {
  margin-left: 10%;
  color: white;
  font-size: 25px;
}
/* nav right */
.nav.navbar-nav.navbar-right li a {
  display: inline;
}
.btn-md {
  color: black;
  border: none;
  padding-top: 10px;
  margin-top: 1px;
}
.navbar-right li .btn-md {
  background-color: white;
  border: none;
  color: black;
}
.navbar-right li .btn-md:hover {
  color: black;
}
.glyphicon {
  font-size: 15px;
}

/* brand name */
.brand-name h1 {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  /* display: inline; */
}


/* nav 2 */
.nav2 {
  position: relative;
  top: 25px;
  width: 100%;
  height: 100px;
}
.nav2 ul {
  width: 35%;
  border-bottom: none;
}
.nav2 ul li {
  margin-left: 50px;
}
.nav2 ul li a:link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.nav2 ul li a:hover {
  color: black;
  background-color: inherit;
  text-decoration: none;
  border: none;
  transition: 1.5s;
  box-shadow: 0px 5px 5px #556b2f;
}
.brand-logo img {
  height: 90px;
  margin-left: 42%;
  margin-top: -50px;

}
.nav.nav-tabs.navbar-right {
  position: relative;
  margin-right: 80px;
  top: -80px;
}

/* main */
.main {
  position: relative;
  height: 700px;
  width: 100%;
  top: 10px;
}
