body, html {
  padding: 0;
  margin: 0;
}

nav {
  font-size: 12px;
  font-family: monospace;
}


.navbar {
  position: relative;
  background-color: black;
  min-height: 40px !important;
}


.nav.navbar-nav li a {
  color: white;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.social-button img {
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100%;
}

.social-button:last-of-type {
  margin-right: 10px;
}

.navbar-right {
  color: white;
}
.navbar-right li:last-of-type {
  background-color: red;
  height: 40px;
  margin-left: 20px;
}
.nav.navbar-nav.navbar-right li a {
  padding-bottom: 5px;
  display: inline;
  color: white;
}

.btn-md {
  background-color: black;
  color: white;
  border: none;

}

.glyphicon-shopping-cart {
  padding-top: 10px;
  margin-right: : 10px;
  font-size: 20px;
}
/* .glyphicon-user {
  padding-top: 10px;
  font-size: 20px;
} */
